fastapi[all]
uvicorn
sqlalchemy
passlib
bcrypt
python-multipart
aiofiles
python-jose
pydantic
uvicorn[standard]
PyJWT
python-jose
passlib
fastapi-sqlalchemy
mysql-connector-python
python-multipart
fastapi-jwt-auth
fastapi-jwt-auth[asymmetric]
uuid
pytz
python-dateutil
requests
pandas
pymysql
